* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  height: 10vh;
  width: 90%;
  margin: auto;
  align-items: center;
}
.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo {
  font-weight: 400;
  margin: 5px;
}

.cart {
  cursor: pointer;
  justify-content: flex-end;
}

nav {
  display: flex;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.nav-link {
  margin: 10px;
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}

.nav-link:hover {
  color: grey;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
  display: none;
  margin: 10px;
}
.hamburger:focus-visible {
  outline: none;
}
#bar {
  color: #5f5f79;
  font-size: 40px;
}

/*MAIN SECTION*/

.apresentação {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.cover {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #858772;
}
.cta-select {
  border: none;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta-add {
  border: none;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin: 30px 0px 0px 30px;
  font-size: 16px;
}

.cta {
  padding: 50px 0px 0px 0px;
}


.into {
  flex: 1;
}
.cover img {
  height: 550px;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.7;
  height: 80%;
}

.mid-circle {
  position: absolute;
  bottom: 0px;
  left: -90px;
  z-index: -1;
  opacity: 0.9;
  height: 50%;
}

.laptop-select {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 15%;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 1020px) {
  .cta {
    display: none;
}
@media screen and (max-width: 600px) {
  .apresentação {
    flex-direction: column;
    align-content: center;
  }
  .into {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .intro-text {
    text-align: center;
  }
  .cta {
    align-content: center;
    padding: 10px 0px 0px 0px;
  }
  .cover {
    height: 100%;
  }
  .cover img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .nav-links.show {
    display: flex;
  }
}